.sidebars_container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sidebars_players_container {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sidebars_players_container.right {
    align-items: end;
}
